#Header h1, img {
    display: inline;
}

#Header h1 {
    font-size: 50px;
    position: relative;
    right: 230px;
}

#Header img {
    cursor: pointer;
    width: 35px;
    position: relative;
    top: 6px;
    right: 150px;
}

.Todo-Title {
    text-align: center;
    position: relative;
    left: -30px;
    top: 20px;
    width: 200px;
    cursor: pointer;
    float: left;
    display: inline; 
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    cursor: pointer;
} 

.Todo-Delete {
    width: 20px;
    cursor: pointer;
} 

.tae {
    width: 40px;
    cursor: pointer;
    position: relative;
    bottom: -1px;
    left: 85%;
}

#Add-To-do {
    background-color: aqua;
    position: fixed;
    top: 50%;
    bottom: 50%;
    width: 100%;
    height: fit-content;
    padding: auto;
    border: 2px dotted pink;
}

#Add-To-do-Input {
    width: 80%;
}

#Save-To-do {
    position: relative;
    left: 1%;
}

@media (min-width: 350px) {
    #Save-To-do {
        position: relative;
        left: 2%;
    }
}

#Add_View_Edit #Title {
    float: left;
    border-color: red;
}
 
