html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: visible;
    overflow-y: visible;
}

#Header {
    height: 10vh;
    border-bottom: solid;
}

#Header h1 {
    display: inline;
    position: relative;
    top: 20%;
}

#Header #Todos-Icon {
    cursor: pointer;
    width: 70px;
    height: 10vh;
    float: right;
    margin: 0;
}

#Content {
    border-top: none;
    height: 90vh;
    overflow: auto;
    background-color: gray;
}

#Notes-Container {
    height: 50%;
    position: relative;
} 

#Notes  {
    padding-bottom: 0;
}

.Note-Title  {
    text-align: center;
    cursor: pointer; 
    list-style: none;
    border: 2px dotted red;
}

.Note-Delete {
    width: 20px;
    cursor: pointer;
    float: right;
}

#Add {
    cursor: pointer;
    width: 50px;
    position: fixed; 
    bottom: 100px;
}

#Note-Title-Input {
    height: 10vh;
}

#Note-Content-Input {
    height: 80vh;
}